* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.wrapper {
  margin-top: 100px;
}

.content-box {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  margin: auto;
}

.add-btn {
  padding: 10px;
  padding-bottom: 13px;
  background-color: #000000;
  border: none;
  color: #ffffff;
}

.add-input{
  width: 90%;
  color: #333;
  border: none;
  border-bottom: 2px solid #666;
  background: none;
  padding: 10px;
  font-size: 22px;
  outline: none;
}

.box1 {
  background-color: #e88282;
  width: 70%;
  padding: 15px 0;
}

.box2 {
  background-color: #84e882;
  width: 70%;
  padding: 15px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}